#resume {
	text-align: left;
	padding: 50px;
	font-family: helvetica;
	@include section-padding;

	.inner {
		padding: 25px;
	}

	h1, h3 {
		line-height: 50px;
	}

	b {
		text-decoration: underline;
	}
}